.bubble-sort__list {
    list-style-type: none;
  }
  
  .bubble-sort__item {
    display: inline-block;
    margin-bottom: 15px;
    padding: 10px 15px;
    outline: solid 1px #222;
    letter-spacing: 1px;
    font-weight: 700;
    transition: .2s;
  }
  
  .bubble-sort__item.active {
    background-color: #61DAFB;
    color: #fff;
  }